[submodule "themes/hugo-rubik"]
	path = themes/hugo-rubik
	url = https://github.com/1917dc/hugo-rubik.git
[submodule "themes/hugo-sputnik"]
	path = themes/hugo-sputnik
	url = https://github.com/1917dc/hugo-sputnik.git
