[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-itamaraty"]
	path = themes/hugo-itamaraty
	url = https://github.com/1917dc/hugo-itamaraty.git
