body  {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  color: #e0e0e0;
  background: #101010;
}

blockquote {
  background-color: #202020 !important;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }

.title { 
  font-size: 1.1em; 
  display: inline-block;
  text-align: left;
}

.author, .date {
  text-align: left;
  font-size: 1em; 
}

footer a { text-decoration: none; color: #FFB6C1;}
a:link, a:visited { color: #FFB6C1; }

hr {
  border-style: dashed;
  color: #ddd;
}

.header_title { 
  font-weigth: bold;
  margin: 0; 
  display: inline-block; 
  white-space: nowrap; 
  font-size: 1.2rem 
}

.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; 
  gap: 1rem;
  text-align: center;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { 
  background: #303030;
  padding: 3px;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #303030;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #303030; }
