@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Thin */
.google-sans-code-100 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Extra-Light */
.google-sans-code-200 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Light */
.google-sans-code-300 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Regular */
.google-sans-code-400 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Medium */
.google-sans-code-500 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Semi-Bold */
.google-sans-code-600 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Bold */
.google-sans-code-700 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Extra-Bold */
.google-sans-code-800 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Black */
.google-sans-code-900 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
