---
import { getCollection, render } from "astro:content";
import ExperiencesCard from "../components/react/ExperiencesCard";

const experiences = await getCollection("experiences");
---

<div class="h-auto min-h-screen">
    <ExperiencesCard client:load experiences={experiences} />
</div>