---
import "../styles/global.css";
import { Config } from "../constants.ts";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ Config.SiteTitle }</title>
	</head>
	<body class="bg-slate-950 text-orange-400 google-sans-code-400 max-w-3xl mx-auto p-4">
	</body>
</html>
