---
import "../styles/global.css";
import Layout from "../layout/Layout.astro";
import Welcome from "./Welcome.astro";
import User from "./User.astro";
import Experiences from "./Experiences.astro";
import { Font } from "astro:assets";
import { getEntry } from "astro:content";

const site = await getEntry("config", "config")?.then(config => config.data.site);
---
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ site?.title ?? "Title" }</title>
	</head>
	<Font cssVariable="--font-google-sans-code" preload/>
	<Layout>
		<Welcome />
		<User />
		<Experiences />
	</Layout>
</html>