---
import { getEntry } from "astro:content"

const description = (await getEntry("description", "description"))!;
const { title } = description.data;
const { html } = description.rendered ?? {};

---

<div class="py-20 md:py-32 flex flex-col md:flex-row gap-12 md:gap-20 justify-center items-center">
    <div class="">
        <h2 class="my-4 font-bold text-md md:text-xl">{title}</h2>
        <div class="text-sm md:text-lg text-justify" set:html={html}></div>
    </div>
    <img class="h-[400px] w-[400px] md:h-[400px] md:w-[400px] rounded-lg" src="https://github.com/luiztapioca.png" alt="User's GitHub Profile Picture">
</div>