---
import { ReactTyped } from "react-typed";
import { Icon } from "astro-icon/components";
---

<span class="h-screen flex flex-col justify-center items-center gap-12 md:gap-16 select-none">
    <ReactTyped
        client:load
        className="lg:text-4xl md:text-xl text-lg text-center"
        strings={[
            `Olá!`,
            `<span class="text-rose-400">ヾ(＾ ∇ ＾)</span>`
        ]}
        typeSpeed={60}
        backSpeed={30}
        backDelay={1000}
        loop={false}
    />

    <button 
        class="btn rounded-md bg-slate-800 p-2 md:p-4 flex justify-center items-center gap-2 md:gap-4 hover:scale-102 transition-transform duration-200 active:scale-101"
        onclick="window.open('https://bool.tec.br/blog', '_blank')"
    >
        <Icon name="mdi:pencil-box" class="w-6 h-6 text-rose-400"/>
        <span class="text-sm md:text-normal text-rose-400">Acesse meu blog!</span>
    </button>
</span>