---
import { ReactTyped } from "react-typed";
---

<span class="h-auto min-h-screen flex justify-center items-center">
    <ReactTyped
        client:load
        className="lg:text-4xl md:text-xl text-lg text-center"
        strings={[
            `Olá ヾ(＾ ∇ ＾)`,
            `Bem vindo ao meu portfolio!`,
        ]}
        typeSpeed={60}
        backSpeed={30}
        backDelay={1000}
        loop={true}
    />
</span>