exampleSite/public/*
exampleSite/public/404.html
exampleSite/public/categories/example/index.html
exampleSite/public/categories/example/index.xml
exampleSite/public/categories/index.html
exampleSite/public/categories/index.xml
exampleSite/public/css/style.css
exampleSite/public/index.html
exampleSite/public/index.xml
exampleSite/public/post/2025/04/20/lorem-ipsum/index.html
exampleSite/public/post/index.html
exampleSite/public/post/index.xml
exampleSite/public/sitemap.xml
exampleSite/public/sobre/index.html
exampleSite/public/tags/index.html
exampleSite/public/tags/index.xml
exampleSite/public/tags/markdown/index.html
exampleSite/public/tags/markdown/index.xml
