---

---

<footer class="my-6 select-none text-center">
    <div class="flex items-center gap-3 mb-3">
        <span
            class="flex-1 border-t-2 border-dashed border-[#93a1a1] dark:border-[#586e75]"
        ></span>
    </div>
    <span class="text-[#93a1a1] dark:text-[#586e75] text-sm">⸜(*ˊᗜˋ*)⸝</span>
</footer>
