---
import { Rss } from "@lucide/astro";
---

<footer class="my-2 sm:my-4 select-none">
    <div class="flex items-center gap-3 mb-3">
        <span
            class="flex-1 border-t sm:border-t-2 border-dashed border-[#93a1a1] dark:border-[#586e75]"
        ></span>
    </div>
    <div class="flex items-center gap-4 mb-3">
        <div class="flex-1 text-sm text-[#657b83] dark:text-[#93a1a1] font-medium flex items-center gap-1">
            <i class="text-[#d33682] dark:text-[#d33682] nf nf-md-lambda text-xs"></i> {new Date().getFullYear()}
        </div>

        <a
            href="/rss.xml"
            target="_blank"
            rel="noopener noreferrer"
            class="text-[#657b83] dark:text-[#839496] hover:text-[#268bd2] dark:hover:text-[#268bd2] transition-colors flex items-center gap-1 flex-shrink-0"
            title="RSS Feed"
        >
            <Rss class="w-3 h-3 sm:w-5 sm:h-5"/>
            <span class="text-xs sm:text-sm">rss</span>
        </a>
    </div>
</footer>
