---
import ThemeToggle from "./svelte/theme-toggle.svelte";
---

<header
    class="flex justify-between items-center mt-3 sm:mt-4 mb-1 w-full min-w-0 gap-4"
>
    <a
        href="/"
        class="flex-shrink-0 select-none text-sm sm:text-base text-[#d33682] dark:text-[#d33682]"
        title="Home"
    >
        café com tapioca
    </a>

    <div class="flex-1"></div>

    <div class="flex-shrink-0">
        <ThemeToggle client:load />
    </div>
</header>
