---
import BaseLayout from "@layouts/BaseLayout.astro";
import ExperiencesCard from "@components/react/ExperiencesCard";
import { experiences } from "@data/experiences";

const title = "Software";
const description = "Desenvolvedor de Software e Pesquisador.";
---

<BaseLayout title={title} description={description}>

    <section>
        {/* Este conteúdo já vai herdar automaticamente as cores Solarized do article no BaseLayout */}
        <slot/>
    </section>

    <section class="not-prose mt-8">

        {/* O card de experiências já foi adaptado no ficheiro React */}
        <ExperiencesCard client:load experiences={experiences} />

    </section>

</BaseLayout>
