---
import BaseLayout from "@layouts/BaseLayout.astro";
import Terminal from "@components/svelte/terminal.svelte";

const title = "Software";
const description = "Desenvolvedor de Software e Pesquisador.";
---

<BaseLayout title={title} description={description}>

    <section>
        <slot/>
    </section>

    <section class="not-prose mt-8">
        <Terminal client:load />
    </section>

</BaseLayout>
