---
import BaseLayout from "@layouts/BaseLayout.astro";
import ExperiencesCard from "@components/react/ExperiencesCard";
import { experiences } from "@data/experiences";

const title = "Software";
const description = "Desenvolvedor de Software e Pesquisador.";
---

<BaseLayout title={title} description={description}>

    <section>
        {/* Este conteúdo já vai herdar automaticamente as cores Solarized do article no BaseLayout */}
        <slot/>
    </section>

    <section class="not-prose mt-8">

        {/* Título: Cores de alto contraste para Headings (base01 no claro / base2 no escuro) */}
        <h2 class="mb-6 text-base sm:text-xl font-bold font-jetbrains text-[#586e75] dark:text-[#eee8d5]">
            Experiência
        </h2>

        {/* O card de experiências já foi adaptado no ficheiro React */}
        <ExperiencesCard client:load experiences={experiences} />

    </section>

</BaseLayout>
