---
import { UserConfig } from "../constants";
---
<footer class="flex justify-center gap-2 text-sm my-4">
    <p class="">{ UserConfig.name }</p> &COPY;
    <p class="">{ new Date().getFullYear().toString() }</p>
</footer>