---
import "../styles/global.css";
import Footer from "../layout/Footer.astro";
import Header from "../layout/Header.astro";
---
<body 
    class="bg-blue-950 text-blue-50 max-w-5xl mx-auto p-4"
    style="font-family: var(--font-google-sans-code);"
>
    <Header/>
    <main>
        <slot />
    </main>
    <Footer/>
</body>